In [0]:
import pandas as pd
import numpy as np
from datetime import timedelta
import numpy
import matplotlib.pyplot as plt
from pandas import read_csv
import math

import time
import numpy as np
import os
from keras import layers, models, callbacks, regularizers, optimizers
from keras.layers import advanced_activations
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler as ms
import pandas as pd
import numpy as np
import numpy
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy
import matplotlib.pyplot as plt
import os
import glob
import datetime as dt

from datetime import timedelta
import numpy
import matplotlib.pyplot as plt
from pandas import read_csv
import pandas as pd
import math

from keras.callbacks import Callback
from keras.optimizers import adagrad, adam
from IPython.display import clear_output
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.callbacks import ModelCheckpoint

Using TensorFlow backend.

In [0]:
from tensorflow.keras import utils as np_utils
from tensorflow.keras.callbacks import ModelCheckpoint

from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression


from sklearn.model_selection import train_test_split

In [0]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
d1=pd.read_csv('drive/My Drive/COLAB Files/d1.csv')
d1.head(1)

   Unnamed: 0         0        1         2  ...         9       10        11  Case
0           0 -0.362423 -0.07018 -0.562351  ...  0.249664  1.28609  0.195705     1

[1 rows x 14 columns]

In [0]:
d1=d1[:300000]
len(d1)

300000

In [0]:
d1.drop(['Unnamed: 0'],axis=1,inplace=True)
d1.head(1)

          0        1         2         3  ...         9       10        11  Case
0 -0.362423 -0.07018 -0.562351 -0.074105  ...  0.249664  1.28609  0.195705     1

[1 rows x 13 columns]

In [0]:
d2=pd.read_csv('drive/My Drive/COLAB Files/d2.csv')
d3=pd.read_csv('drive/My Drive/COLAB Files/d3.csv')
d4=pd.read_csv('drive/My Drive/COLAB Files/d4.csv')
d5=pd.read_csv('drive/My Drive/COLAB Files/d5.csv')
d6=pd.read_csv('drive/My Drive/COLAB Files/d6.csv')
d7=pd.read_csv('drive/My Drive/COLAB Files/d7.csv')
d8=pd.read_csv('drive/My Drive/COLAB Files/d8.csv')
d9=pd.read_csv('drive/My Drive/COLAB Files/d9.csv')

In [0]:
d2=d2[:300000]
d3=d3[:300000]
d4=d4[:300000]
d5=d5[:300000]
d6=d6[:300000]
d7=d7[:300000]
d8=d8[:300000]
d9=d9[:300000]

In [0]:
d2.drop(['Unnamed: 0'],axis=1,inplace=True)
d3.drop(['Unnamed: 0'],axis=1,inplace=True)
d4.drop(['Unnamed: 0'],axis=1,inplace=True)
d5.drop(['Unnamed: 0'],axis=1,inplace=True)
d6.drop(['Unnamed: 0'],axis=1,inplace=True)
d7.drop(['Unnamed: 0'],axis=1,inplace=True)
d8.drop(['Unnamed: 0'],axis=1,inplace=True)
d9.drop(['Unnamed: 0'],axis=1,inplace=True)

In [0]:
#d1['0'].head()

In [0]:
import numpy as np
import pywt
from scipy import stats

In [0]:
mad1=stats.median_absolute_deviation(d1)
mad1
mad11=stats.median_absolute_deviation(mad1)
mad11

0.858226306160397

In [0]:
mad2=stats.median_absolute_deviation(d2)
mad2
mad22=stats.median_absolute_deviation(mad2)
mad22

0.7595005896633262

In [0]:
mad3=stats.median_absolute_deviation(d3)
mad3
mad33=stats.median_absolute_deviation(mad3)
mad33

0.4703082344681079

In [0]:
mad4=stats.median_absolute_deviation(d4)
mad4
mad44=stats.median_absolute_deviation(mad4)
mad44

0.7131041766725671

In [0]:
mad5=stats.median_absolute_deviation(d5)
mad5
mad55=stats.median_absolute_deviation(mad5)
mad55

0.4044778591345323

In [0]:
mad6=stats.median_absolute_deviation(d6)
mad6
mad66=stats.median_absolute_deviation(mad6)
mad66

0.5764921448019288

In [0]:
mad7=stats.median_absolute_deviation(d7)
mad7
mad77=stats.median_absolute_deviation(mad7)
mad77

0.808413950975844

In [0]:
mad8=stats.median_absolute_deviation(d8)
mad8
mad88=stats.median_absolute_deviation(mad8)
mad88

0.6055399752927988

In [0]:
mad9=stats.median_absolute_deviation(d9)
mad9
mad99=stats.median_absolute_deviation(mad9)
mad99

0.7241616984562131

In [0]:
print(mad11)
print(mad22)
print(mad33)
print(mad44)
print(mad55)
print(mad66)
print(mad77)
print(mad88)
print(mad99)

0.858226306160397
0.7595005896633262
0.4703082344681079
0.7131041766725671
0.4044778591345323
0.5764921448019288
0.808413950975844
0.6055399752927988
0.7241616984562131

In [0]:
s1=pywt.threshold(d1, mad11, 'soft')
s1

array([[-0.        , -0.        , -0.        , ...,  0.42786416,
         0.        ,  0.14177369],
       [-0.        , -0.        , -0.        , ...,  0.62090515,
        -0.        ,  0.14177369],
       [-0.03995431, -0.        , -0.        , ...,  0.42611856,
         0.        ,  0.14177369],
       ...,
       [-0.        ,  0.        , -0.        , ..., -0.        ,
         0.        ,  0.14177369],
       [-0.12291507, -0.        , -0.        , ..., -0.05159644,
        -0.        ,  0.14177369],
       [-0.26437322, -0.        , -0.        , ..., -0.44317776,
        -0.        ,  0.14177369]])

In [0]:
h1=pywt.threshold(d1, mad11, 'hard')
h1

array([[ 0.        ,  0.        ,  0.        , ...,  1.28609047,
         0.        ,  1.        ],
       [ 0.        ,  0.        ,  0.        , ...,  1.47913146,
         0.        ,  1.        ],
       [-0.89818061,  0.        ,  0.        , ...,  1.28434486,
         0.        ,  1.        ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.98114138,  0.        ,  0.        , ..., -0.90982275,
         0.        ,  1.        ],
       [-1.12259952,  0.        ,  0.        , ..., -1.30140407,
         0.        ,  1.        ]])

In [0]:
s2=pywt.threshold(d2, mad22, 'soft')
h2=pywt.threshold(d2, mad22, 'hard')

s3=pywt.threshold(d3, mad33, 'soft')
h3=pywt.threshold(d3, mad33, 'hard')

s4=pywt.threshold(d4, mad44, 'soft')
h4=pywt.threshold(d4, mad44, 'hard')

s5=pywt.threshold(d5, mad55, 'soft')
h5=pywt.threshold(d5, mad55, 'hard')

s6=pywt.threshold(d5, mad66, 'soft')
h6=pywt.threshold(d5, mad66, 'hard')

s7=pywt.threshold(d5, mad77, 'soft')
h7=pywt.threshold(d5, mad77, 'hard')

s8=pywt.threshold(d5, mad88, 'soft')
h8=pywt.threshold(d5, mad88, 'hard')

s9=pywt.threshold(d5, mad99, 'soft')
h9=pywt.threshold(d5, mad99, 'hard')

In [0]:
import pandas as pd
s1=pd.DataFrame(s1)
s1.to_csv('softd1.csv')
h1=pd.DataFrame(h1)
h1.to_csv('hardd1.csv')
s1.shape

(300000, 13)

In [0]:
s2=pd.DataFrame(s2)
s2.to_csv('softd2.csv')
h2=pd.DataFrame(h2)
h2.to_csv('hardd2.csv')

In [0]:
s3=pd.DataFrame(s3)
s3.to_csv('softd3.csv')
h3=pd.DataFrame(h2)
h3.to_csv('hardd3.csv')

In [0]:
s4=pd.DataFrame(s4)
s4.to_csv('softd4.csv')
h4=pd.DataFrame(h4)
h4.to_csv('hardd4.csv')

In [0]:
s5=pd.DataFrame(s5)
s5.to_csv('softd5.csv')
h5=pd.DataFrame(h5)
h5.to_csv('hardd5.csv')

In [0]:
s6=pd.DataFrame(s6)
s6.to_csv('softd6.csv')
h6=pd.DataFrame(h6)
h6.to_csv('hardd6.csv')

In [0]:
s7=pd.DataFrame(s7)
s7.to_csv('softd7.csv')
h7=pd.DataFrame(h7)
h7.to_csv('hardd7.csv')

In [0]:
s8=pd.DataFrame(s8)
s8.to_csv('softd8.csv')
h8=pd.DataFrame(h8)
h8.to_csv('hardd8.csv')

In [0]:
s9=pd.DataFrame(s9)
s9.to_csv('softd9.csv')
h9=pd.DataFrame(h9)
h9.to_csv('hardd9.csv')

In [0]:
s1=pd.DataFrame(s1)
h1=pd.DataFrame(h1)

In [0]:
s2=pd.DataFrame(s2)
h2=pd.DataFrame(h2)

s3=pd.DataFrame(s3)
h3=pd.DataFrame(h3)

s4=pd.DataFrame(s4)
h4=pd.DataFrame(h4)

s5=pd.DataFrame(s5)
h5=pd.DataFrame(h5)

s6=pd.DataFrame(s6)
h6=pd.DataFrame(h6)

s7=pd.DataFrame(s7)
h7=pd.DataFrame(h7)

s8=pd.DataFrame(s8)
h8=pd.DataFrame(h8)

s9=pd.DataFrame(s9)
h9=pd.DataFrame(h9)

In [0]:
s1=pd.read_csv('drive/My Drive/COLAB Files/softd1.csv')
s1.head(1)

   Unnamed: 0    0    1    2    3    4  ...    7         8    9        10   11  12
0           0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.221288  0.0  0.427864  0.0   1

[1 rows x 14 columns]

In [0]:
s1.drop(['Unnamed: 0'],axis=1,inplace=True)

In [0]:

s2=pd.read_csv('drive/My Drive/COLAB Files/softd2.csv')
s3=pd.read_csv('drive/My Drive/COLAB Files/softd3.csv')
s4=pd.read_csv('drive/My Drive/COLAB Files/softd4.csv')
s5=pd.read_csv('drive/My Drive/COLAB Files/softd5.csv')
s6=pd.read_csv('drive/My Drive/COLAB Files/softd6.csv')
s7=pd.read_csv('drive/My Drive/COLAB Files/softd7.csv')
s8=pd.read_csv('drive/My Drive/COLAB Files/softd8.csv')
s9=pd.read_csv('drive/My Drive/COLAB Files/softd9.csv')
s9.head(1)

   Unnamed: 0    0    1    2    3  ...         8        9        10   11  12
0           0  0.0  0.0  0.0  0.0  ... -0.277823 -0.06815 -0.736673  0.0   2

[1 rows x 14 columns]

In [0]:
s1.drop(['Unnamed: 0'],axis=1,inplace=True)
s2.drop(['Unnamed: 0'],axis=1,inplace=True)
s3.drop(['Unnamed: 0'],axis=1,inplace=True)
s4.drop(['Unnamed: 0'],axis=1,inplace=True)
s5.drop(['Unnamed: 0'],axis=1,inplace=True)
s6.drop(['Unnamed: 0'],axis=1,inplace=True)
s7.drop(['Unnamed: 0'],axis=1,inplace=True)
s8.drop(['Unnamed: 0'],axis=1,inplace=True)
s9.drop(['Unnamed: 0'],axis=1,inplace=True)
s1.head(1)

     0    1    2    3    4    5    6    7         8    9        10   11  12
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.221288  0.0  0.427864  0.0   1

In [0]:
h1=pd.read_csv('hardd1.csv')
h2=pd.read_csv('hardd2.csv')
h3=pd.read_csv('hardd3.csv')
h4=pd.read_csv('hardd4.csv')
h5=pd.read_csv('hardd5.csv')
h6=pd.read_csv('hardd6.csv')
h7=pd.read_csv('hardd7.csv')
h8=pd.read_csv('hardd8.csv')
h9=pd.read_csv('hardd9.csv')
h9.head(1)

   Unnamed: 0    0    1    2    3  ...         8         9        10   11   12
0           0  0.0  0.0  0.0  0.0  ... -1.001985 -0.792311 -1.460834  0.0  2.0

[1 rows x 14 columns]

In [0]:
h1.drop(['Unnamed: 0'],axis=1,inplace=True)
h2.drop(['Unnamed: 0'],axis=1,inplace=True)
h3.drop(['Unnamed: 0'],axis=1,inplace=True)
h4.drop(['Unnamed: 0'],axis=1,inplace=True)
h5.drop(['Unnamed: 0'],axis=1,inplace=True)
h6.drop(['Unnamed: 0'],axis=1,inplace=True)
h7.drop(['Unnamed: 0'],axis=1,inplace=True)
h8.drop(['Unnamed: 0'],axis=1,inplace=True)
h9.drop(['Unnamed: 0'],axis=1,inplace=True)
h1.head(1)

     0    1    2    3    4    5    6    7         8    9       10   11   12
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.079514  0.0  1.28609  0.0  1.0

In [0]:
dy1=s1['12'].values
y1=list(dy1)
y1=np.asarray(y1)
y1.shape

(300000,)

In [0]:
s1.drop(['12'], axis = 1, inplace = True)

In [0]:
x=s1.iloc[:].values
len(x)
x.shape

(300000, 12)

In [0]:
#x=x.reshape(1200,12,250)

In [0]:
y=[]

for i in y1:
  if i==2.0:
    y.append(1)
  else:
    y.append(0)
    
y=np.asarray(y)
y.shape

(300000,)

In [0]:
i=0
w=[]
m=0
while (i<len(y)):
  j=y[i]
  i=i+1
  k=1
  while(y[i]==j):
    i=i+1
    k=k+1
    if(i==len(y)):
      break
  
  w.append(k)
  m=m+1
  i=i+1
  #print(m)

In [0]:
i=0
m=0
y2=[]
while(i<len(w)):
  j=w[i]
  c=int(j/250)
  k=0
  while(k<c):
    a=y[m]
    y2.append(a)
    k=k+1
  i=i+1
  m=m+j
  
  
  
len(y2)

1198

In [0]:
y=np.asarray(y2)  
print(y.shape)

(1198,)

In [0]:
x.shape

(300000, 12)

In [0]:
y2=np.asarray(y2)

In [0]:
X_train=x[0:240000]
y_train=y[0:240000]
X_test=x[240000:,]
y_test=y[240000:,]
#X_train      = x[0:960]
#Y_train      = y[0:960]
#X_validate   = X[24:216,]
#Y_validate   = y[144:216]
#X_test       = x[960:,]
#Y_test       = y[960:,]

In [0]:
y_train.shape

(240000,)

In [0]:
X_train.shape

(240000, 12)

In [0]:
y_test.shape

(60000,)

In [0]:
X_train=X_train.reshape(X_train.shape[0],1,12,250)
X_test=X_test.reshape(X_test.shape[0],1,12,250)

In [0]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(240000, 12)
(240000,)
(60000, 12)
(60000,)

In [0]:
type(y_test)
t=y_test
t=list(t)
#print(t)
t.append(1)
t.append(1)
len(t)
y_test=t

In [0]:
y_test=np.asarray(y_test)
y_test=np.asarray(t)
y_test.shape

(220,)

In [0]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(980, 1, 12, 250)
(980,)
(220, 1, 12, 250)
(220,)

In [0]:

from random import shuffle

import pandas as pd
import tensorflow as tf
import io
import numpy as np
import os
import collections

from tensor2tensor import models
from tensor2tensor import problems
from tensor2tensor.layers import common_layers
from tensor2tensor.utils import trainer_lib
from tensor2tensor.utils import t2t_model
from tensor2tensor.utils import registry
from tensor2tensor.utils import metrics
from sklearn.model_selection import train_test_split
from tensorflow.python import keras
from tensorflow.python.keras.models import Sequential, Model
from tensorflow.python.keras.layers import Input, Dense, core,TimeDistributed,AveragePooling1D

from tensorflow.python.keras.layers import LSTM, Dense, Dropout, Activation
from sklearn.preprocessing import minmax_scale
from sklearn import preprocessing

from matplotlib import pyplot as plt

from sklearn.metrics import accuracy_score
from pandas import read_csv
from numpy import mean
from numpy import std
from numpy import delete
from numpy import savetxt


import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras.utils import np_utils

WARNING: Logging before flag parsing goes to stderr.
W0702 14:34:03.276976 139966650734464 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tensor2tensor/utils/expert_utils.py:68: The name tf.variable_scope is deprecated. Please use tf.compat.v1.variable_scope instead.

W0702 14:34:05.256924 139966650734464 lazy_loader.py:50]
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

W0702 14:34:07.062990 139966650734464 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tensor2tensor/utils/adafactor.py:27: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0702 14:34:07.068019 139966650734464 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tensor2tensor/utils/multistep_optimizer.py:32: The name tf.train.AdamOptimizer is deprecated. Please use tf.compat.v1.train.AdamOptimizer instead.

W0702 14:34:07.096610 139966650734464 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/mesh_tensorflow/ops.py:4237: The name tf.train.CheckpointSaverListener is deprecated. Please use tf.estimator.CheckpointSaverListener instead.

W0702 14:34:07.097892 139966650734464 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/mesh_tensorflow/ops.py:4260: The name tf.train.SessionRunHook is deprecated. Please use tf.estimator.SessionRunHook instead.

W0702 14:34:07.252401 139966650734464 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tensor2tensor/utils/trainer_lib.py:105: The name tf.OptimizerOptions is deprecated. Please use tf.compat.v1.OptimizerOptions instead.

In [0]:
num_classes=2
y_train = np_utils.to_categorical(y_train, num_classes)
y_test = np_utils.to_categorical(y_test, num_classes)

In [0]:
# Define model architecture
input1 = Input((X_train.shape[1], X_train.shape[2], 1))

conv1 = Conv2D(64,(3,3), activation='relu', padding='same')(input1)
conv1 = Dropout(0.2)(conv1)
conv1 = Conv2D(64,(3,3), activation='relu', padding='same')(conv1)
pool1 = MaxPool2D(pool_size=(2,2))(conv1)

conv2 = Conv2D(128,(3,3), activation='relu', padding='same')(pool1)
conv2 = Dropout(0.2)(conv2)
conv2 = Conv2D(128,(3,3), activation='relu')(conv2)
pool2 = MaxPool2D(pool_size=(2,2))(conv2)

conv3 = Conv2D(256,(3,3), activation='relu', padding='same')(pool2)
conv3 = Dropout(0.2)(conv3)
conv3 = Conv2D(256,(3,3), activation='relu', padding='same')(conv3)
pool3 = MaxPool2D(pool_size=(2,2))(conv3)

conv4 = Conv2D(512,(3,3), activation='relu', padding='same')(pool3)
conv4 = Conv2D(512,(3,3), activation='relu', padding='same')(conv4)

up5 = Concatenate([Conv2DTranspose(256, (2,2), strides=(2,2),padding='same')(conv4), conv3], axis=3)
conv5 = Conv2D(256,(3,3), activation='relu', padding='same')(up5)
conv5 = Conv2D(256,(3,3), activation='relu', padding='same')(conv5)

In [0]:
input1   = tf.keras.layers.Input(shape = (1, 12, 250))


block1       = tf.keras.layers.Conv2D(8, (1, 64), padding = 'same', input_shape = (1, 12,250),use_bias = False,data_format='channels_last')(input1)
#block1 = tf.keras.layers.BatchNormalization(axis = 1)(block1)
block1       = tf.keras.layers.DepthwiseConv2D((1, 12), use_bias = False,  depth_multiplier = 2,depthwise_constraint = tf.keras.constraints.max_norm(1.))(block1)
#block1 = tf.keras.layers.BatchNormalization(axis = 1)(block1)
block1 = tf.keras.layers.Activation('elu')(block1)
block1 = tf.keras.layers.AveragePooling2D((1, 1))(block1)
block1 = tf.keras.layers.Dropout(0.5)(block1)
block1

In [0]:
block2       = tf.keras.layers.SeparableConv2D(16, (1, 16),use_bias = False, padding = 'same')(block1)
block2       = tf.keras.layers.BatchNormalization(axis = 1)(block2)
block2       = tf.keras.layers.Activation('elu')(block2)
block2       = tf.keras.layers.AveragePooling2D((1, 1))(block2)
block2       = tf.keras.layers.Dropout(0.5)(block2)

flatten      = tf.keras.layers.Flatten(name = 'flatten')(block2)

dense        = tf.keras.layers.Dense(1, name = 'dense', kernel_constraint = tf.keras.constraints.max_norm(0.25))(flatten)
softmax      = tf.keras.layers.Activation('sigmoid', name = 'softmax')(dense)

In [0]:
softmax.shape

TensorShape([Dimension(None), Dimension(1)])

In [0]:

model=tf.keras.Model(inputs=input1, outputs=softmax)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics = ['accuracy'])

W0701 20:23:21.664819 140220588578688 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [0]:
filepath="waveletsweights.best.hdf50"

In [0]:
checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath, monitor='val_acc', verbose=1, save_best_only=True, mode='auto')

In [0]:
early_stopping_monitor = keras.callbacks.EarlyStopping(monitor='val_loss', patience=5, verbose=1, mode='auto')
callbacks_list = [checkpoint]

In [0]:
fittedModel = model.fit(X_train, y_train, batch_size =12, epochs =50,verbose = 1,validation_data=(X_test, y_test))

In [0]:
xt=X_train.reshape(980,1,12,250)

In [0]:
yt=y_train.reshape(980,1,2)

In [0]:
X_test.shape

(220, 1, 12, 250)

In [0]:
xtt=X_test.reshape(220,1,12,250)
ytt=y_test.reshape(220,1,2)

In [0]:
from keras.layers.convolutional import Conv2D, MaxPooling2D
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten

In [0]:

model=Sequential([
    Dense(16,activation='relu',input_shape=(20,20,3)),
    Conv2D(32,kernel_size=(3,3),activation='relu',padding='same'),
    MaxPooling2D(pool_size=(2,2),strides=2,padding='valid'),
    Conv2D(64,kernel_size=(5,5),activation='relu',padding='same'),
    Flatten(),
    Dense(2,activation='softmax'),
    
])

W0701 20:16:21.681675 140220588578688 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0701 20:16:21.695373 140220588578688 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0701 20:16:21.772555 140220588578688 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3976: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

In [0]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 20, 20, 16)        64
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 20, 20, 32)        4640
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 10, 10, 32)        0
_________________________________________________________________
conv2d_8 (Conv2D)            (None, 10, 10, 64)        51264
_________________________________________________________________
flatten_1 (Flatten)          (None, 6400)              0
_________________________________________________________________
dense_5 (Dense)              (None, 2)                 12802
=================================================================
Total params: 68,770
Trainable params: 68,770
Non-trainable params: 0
_________________________________________________________________

In [0]:
input1   = tf.keras.layers.Input(shape = (1, 12, 250))
flatten      = tf.keras.layers.Flatten(name = 'flatten')

dense        = tf.keras.layers.Dense(1, name = 'dense', kernel_constraint = tf.keras.constraints.max_norm(0.25))(flatten)
softmax      = tf.keras.layers.Activation('sigmoid', name = 'softmax')(dense)


model=tf.keras.Model(inputs=input1, outputs=softmax)
model.compile(loss='binary_crossentropy', optimizer='adam', metrics = ['accuracy'])

In [0]:
fittedModel = model.fit(X_train, y_train, batch_size =12, epochs =50,verbose = 1,validation_data=(X_test, y_test))

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [0]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2,random_state=0)

In [0]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [0]:
print(clf.feature_importances_)

[0.16951503 0.06722928 0.05424497 0.05319017 0.0293937  0.00634291
 0.02678709 0.01622241 0.24627632 0.00562015 0.2515826  0.07359537]

In [0]:
xdata=clf.predict(X_test)

In [0]:
xdata

array([1, 1, 1, ..., 1, 1, 1])

In [0]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score